{% extends 'base.html' %}

{%  block template %}
    {% load socialaccount %}
    {% providers_media_js %}
    {% load static %}
{% endblock %}

{% block title %}
    마음체크
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet_base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet_index.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block body %}

    <div id ="container">
        <div id = "title" >
            <div class="box">
                <img src="{% static 'img/logo_white.png' %}">
            </div>

            <h3>우리의 마음이 떨어지지 않도록</h3>
            <h3>마음, 체크하세요</h3>
        </div>
        <div id = "panel">
            <div id = "login">
                <div class = "box">
                        <a href="{% provider_login_url 'naver'%}">
                            <img src = "{% static 'img/naver_id_white.png' %}">
                        </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}






