@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');



html, body{
    margin : 0px;
    padding: 0px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
}

#container {
    position: relative;
    top:0;
    width: 100%;
    height : 100%;
    margin: 0 auto;
    max-width: 480px;
    background: -moz-linear-gradient(180deg, rgba(242,139,179,1) 0%, rgba(237,96,152,1) 50%);
    background: -webkit-linear-gradient(180deg, rgba(242,139,179,1) 0%, rgba(237,96,152,1) 50%);
    background: linear-gradient(180deg, rgba(242,139,179,1) 0%, rgba(237,96,152,1) 50%);
}

#panel{
    background-color: white;
    position: absolute;
    width: inherit;
    bottom: 0;

    animation-duration: 0.3s;
    animation-name: slideInFromLeft;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-name: slideInFromLeft;
    -moz-animation-duration: 0.3s;
    -moz-animation-name:slideInFromLeft;

    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;
    -webkit-box-shadow: 0px -5px 10px -5px rgba(56, 56, 56, 0.4);
    -moz-box-shadow: 0px -5px 10px -5px rgba(56, 56, 56, 0.4);
    box-shadow: 0px -5px 10px -5px rgba(56, 56, 56, 0.4);
}

.btn {
    width : 80px;
    height: 31px;
    border-radius : 7px;
    font-weight: bold;
    text-align : center;
    padding-top : 9px;
    font-size: 11pt;
}

.s_btn{

    width : 65px;
    height: 26px;
    border-radius : 7px;
    font-weight: bold;
    text-align : center;
    padding-top : 4px;
    font-size: 11pt;

}

.l_btn{
    width : 100%;
    height: 50px;
    border-radius : 7px;
    text-align : center;
    font-size: 14pt;
    margin-top: 20px;
    border: 0px;
    font-family: 'Noto Sans KR', sans-serif;
}

.btn_pink {
    background-color : #fce1ec;
    color : #f289b2;
}

.btn_yellow{
    background-color: #faead1;
    color: #ecac48;
}

.btn_green{
    color: #01cd88;
    background-color: #bff2e1;
}

.btn_red{
    color: #ff5949;
    background-color: #ffd5d1;
}

.btn_blue{
    color: #2F26D9;
    background-color: #cbc9f5;

}


#title{
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
}

#title a:link, a:visited{
    color : white;
}

#title a {
    color:white;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}