<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        #toast{width: 250px; height: 20px; height:auto; position: fixed; left: 50%; margin-left:-125px; bottom: 100px; z-index: 9999; background-color: #383838; color: #F0F0F0; padding: 10px; text-align:center; border-radius: 2px; -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1); -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1); box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);}
    </style>

</head>
<body>

<h1>{{ target.name }}</h1>
<p>{{ target.address }}</p>
<img id="QRcode" src="{{ codeQR }}" token="{{ token }}">

<div id="toast" style="display: none;">hello</div>

<script>
    check = setInterval(function () {
        var token= $("#QRcode").attr('token');
        $.ajax({
            type: "POST",
            url: "{% url 'refreshQR' type %}",
            data: {
                'token': token,
                "id":"{{ target.id }}",
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                dataType: "json",
            },
            success: function (response) {
                if (response.isChanged == 1) {
                    $("#QRcode").attr('src', response.codeQR);
                    $("#QRcode").attr('token', response.token);
                    $('#toast').fadeIn(500).delay(1100).fadeOut(500);
                };
            },
        });
    },3000)
</script>
</body>
</html>