{% extends 'base.html' %}
{%  block template %}
    {% load static %}
{% endblock %}
{% block title %}
    {{ target.name }} - 마음체크
{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet_base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet_detail.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block body %}
    <div id = "container">
        <div id = "title" style="float: left" >
            <div id = "title-left">
                <a href="{% url 'dashboard' %}">대시보드로 이동</a>
                    {% if type == 0 %}
                        <h3>공간 QR 인증</h3>
                    {% elif type == 1 %}
                        <h3>모임 QR 인증</h3>
                    {% endif %}
            </div>
            <div id = "title-add">
               {% if type == 0 %}
                   <a href="{% url 'listPlace' %}">×</a>
               {% elif type == 1 %}
                   <a href="{% url 'listMeeting' %}">×</a>
               {% endif %}
          </div>
        </div>
        <div id = "panel">
            <div id = "list">
                <h1>{{ target.name }}</h1>
                <h2>{{ target.address }}</h2>
            </div>
            <div id = "code">
                <img id="QRcode" src="{{ codeQR }}" token="{{ token }}">
            </div>
        </div>
    </div>
    <script>
        check = setInterval(function () {
            var token= $("#QRcode").attr('token');
            $.ajax({
                type: "POST",
                url: "{% url 'refreshQR' type %}",
                data: {
                    'token': token,
                    "id":"{{ target.id }}",
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    dataType: "json",
                },
                success: function (response) {
                    if (response.isChanged == 1) {
                        $('#QRcode').fadeOut(400).delay(800).fadeIn(400);
                        $("#QRcode").attr('src', response.codeQR);
                        $("#QRcode").attr('token', response.token);
                    };
                },
            });
        },2000)
    </script>
{% endblock %}